<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/charmWordPage.css"/>
</head>
<body style="margin: 0 0 0 0;width:1920px;height:1080px; overflow:hidden">
    <div style="width: 100%; height: 100%; background-image: url('assets/Background.png');">
        <div id="mainText">네이버 급상승</div>
        <div id="outputBox">
            <div class="output">1. 소개 1승</div>
            <div class="output">2. 임베 1패</div>
            <div class="output">3. 윤재상</div>
            <div class="output">4. 윤재상 노답</div>
            <div class="output">5. 윤재상 각성해라</div>
            <div class="output">6. 윤재상 코딩해라</div>
        </div>
    </div>
</body>
</html>