<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/youtubeDataPage.css"/>
</head>
<body style="margin: 0 0 0 0;width:1920px;height:1080px; overflow:hidden">
    <div style="width: 100%; height: 100%; background-image: url('assets/Background.png');">
        <div id="mainText">Youtube</div>
        <div id="subText">"보겸"에대한 검색결과</div>
        <div id="outputBox">
            <div style="background-color: black; width: 300px; height: 200px; margin-bottom: 20px;"></div>
            <div style="background-color: black; width: 300px; height: 200px; margin-bottom: 20px;"></div>
            <div style="background-color: black; width: 300px; height: 200px; margin-bottom: 20px;"></div>
            <div style="background-color: black; width: 300px; height: 200px; margin-bottom: 20px;"></div>
            <div style="background-color: black; width: 300px; height: 200px; margin-bottom: 20px;"></div>
            <div style="background-color: black; width: 300px; height: 200px; margin-bottom: 20px;"></div>
        </div>
    </div>
</body>
</html>