.subText {
    font-family: '경기천년바탕 굵음';
    flex: 1;
    justify-content: center;
    text-align: center;
    font-size: 80px;
}

.input {
    
    font-family: '경기천년바탕';
    flex: 1;
    justify-content: center;
    text-align: center;
    font-size: 80px;
    margin-top: 260px;
}