.subText {
    font-family: '경기천년바탕 굵음';
    flex: 1;
    justify-content: center;
    text-align: center;
    font-size: 80px;
}

.thumnail {
    background-color: black;
    width: 20%;
    height: 40%;
}